@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fruktur:ital@0;1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: url("imagenes/cursor.png"), auto;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #1a1919;
}

@media (max-width: 768px) {
  body {
    background-image: url("../public/ul-naruto.jpg");
  }
}

header {
  display: flex;
}

.logo {
  width: 120px;
  width: 100px;
}

.navbar {
  background: rgba(19, 18, 18, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  width: 100%;
  justify-content: center;
}

.ul-nav {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.nav-item {
  font-family: "Bungee Spice", serif;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  margin: 8px;
  width: 200px;
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.6s ease-out forwards;
  padding: 10px 10px;
}

.nav-item .background-dark {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

.nav-item .background-transparent {
  background: rgba(83, 82, 82, 0.5);
  border-radius: 10px;
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  z-index: -1;
}

.nav-item .nav-text {
  font-size: 18px;
  color: #feca00;
  position: relative;
  z-index: 1;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 5px;
  height: 3px;
  background: linear-gradient(to right, #fff380, #ffa07a);
  border-radius: 5px;
  z-index: 1;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.nav-item:hover {
  background: linear-gradient(to right, #fff4d2);
  -webkit-background-clip: unset;
}

.nav-item:hover .nav-text {
  color: #fff;
}

.nav-item:hover::after {
  transform: scaleX(1);
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-item:nth-child(1) {
  animation-delay: 0.2s;
}

.nav-item:nth-child(2) {
  animation-delay: 0.4s;
}

.nav-item:nth-child(3) {
  animation-delay: 0.6s;
}

.nav-item:nth-child(4) {
  animation-delay: 0.8s;
}

.navbar a {
  color: #feca00;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #ff8f70;
}

.container {
  flex: 1;
}

.relleno {
  height: 900px;
}

footer {
  background: rgba(19, 18, 18, 0.9);
  text-align: center;
  padding: 30px 20px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 0;
  margin-top: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer-item {
  font-family: "Bungee Spice", serif;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(to right, #feca00, #df320a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
  width: 300px;
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.6s ease-out forwards;
}

.footer-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(83, 82, 82, 0.5);
  border-radius: 10px;
  z-index: -1;
}

.footer-item::after {
  content: "";
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 5px;
  height: 3px;
  background: linear-gradient(to right, #fff380, #ffa07a);
  border-radius: 5px;
  z-index: 1;
}

.footer-item:hover {
  background: linear-gradient(to right, #fff4d2, #ff8f70);
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #fff;
}

.footer-item:hover::after {
  transform: scaleX(1);
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

footer p {
  color: #fff;
  font-size: 14px;
  margin-top: 5px;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #ff8f70;
}

.span-footer {
  color: white;
}

.Seccion {
  background: none;
  text-align: center;
  padding: 30px 20px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  position: relative;
  gap: 50px;
  margin-top: 8px;
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.6s ease-out forwards;
  box-shadow: 0 0 10px rgba(253, 132, 18, 0.3), 0 0 20px rgba(254, 202, 0, 0.2),
    0 0 40px rgba(253, 132, 18, 0.1);
}

.Seccion:hover {
  box-shadow: 0 0 15px rgba(253, 132, 18, 0.5), 0 0 30px rgba(254, 202, 0, 0.3),
    0 0 50px rgba(253, 132, 18, 0.2);
  transform: translateY(-5px); /* Leve elevación al hover */
}

.Seccion::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  z-index: -2;
}

.Seccion::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 1.5%;
  right: 1.5%;
  bottom: 5%;
  background: rgba(83, 82, 82, 0.4);
  border-radius: 30px;
  z-index: -1;
}

.texto-seccion {
  font-family: "Bungee Spice", serif;
  width: 400px;
  color: #ffffff; /* Cambiado a blanco puro */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8),
    /* Sombra negra suave */ 0px 0px 10px rgba(255, 255, 255, 0.5); /* Efecto de resplandor blanco */
  z-index: 1;
  position: relative;
}

.texto-inicio {
  font-family: "Fruktur", serif;
  width: 400px;
  color: #ffcc66; /* Amarillo pastel más claro */
  font-size: 1.3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7),
    /* Sombra negra */ 0px 0px 8px rgba(255, 204, 102, 0.6); /* Resplandor del mismo color */
  z-index: 1;
  position: relative;
}

.texto-seccion:hover {
  color: #fff;
}

.imagen-seccion {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
  position: relative;
}

.btn-light {
  font-family: "Bungee Spice", serif;
  width: 180px;
  z-index: 1;
  position: relative;
}

.btn-light:hover {
  background: linear-gradient(to right, #fff4d2, #ff8f70);
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #fff;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.contenedor-carta {
  text-align: center;
  padding: 8px 8px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  height: 900px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  position: relative;
  gap: 8px;
  margin-top: 8px;
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.6s ease-out forwards;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  z-index: 1;
  box-shadow: 0 0 10px rgba(253, 132, 18, 0.3), 0 0 20px rgba(254, 202, 0, 0.2),
    0 0 40px rgba(253, 132, 18, 0.1);
}

.contenedor-carta:hover {
  box-shadow: 0 0 15px rgba(253, 132, 18, 0.5), 0 0 30px rgba(254, 202, 0, 0.3),
    0 0 50px rgba(253, 132, 18, 0.2);
  transform: translateY(-5px); /* Leve elevación al hover */
}

.contenedor-carta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  z-index: -2;
  pointer-events: none;
}

.contenedor-carta::after {
  content: "";
  position: absolute;
  top: 1%;
  left: 1%;
  right: 1%;
  bottom: 1%;
  background: rgba(83, 82, 82, 0.4);
  border-radius: 30px;
  z-index: -1;
  pointer-events: none;
}

.imagen-carta {
  margin-top: 10px;
  width: 400px;
  height: 350px;
  object-fit: cover;
  object-position: 10% 80%;
  z-index: 1;
  position: relative;
  border-radius: 20px;
}

.imagen-carta2 {
  margin-top: 10px;
  width: 400px;
  height: 350px;
  object-fit: cover;
  object-position: 10% 70%;
  z-index: 1;
  position: relative;
  border-radius: 20px;
}

.contenedor-cartas {
  display: flex;
  justify-content: space-between;
}

.contenedor-reglamento {
  text-align: center;
  padding: 16px; /* Aumento de padding para mayor separación */
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  height: 1000px;
  width: 640px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #fd8412; /* Bordes visibles */
  border-radius: 10px; /* Bordes redondeados */
  position: relative;
  margin: 20px auto; /* Centrado y margen superior */
  background: linear-gradient(145deg, #222, #333); /* Fondo con degradado */
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.6s ease-out forwards; /* Animación de entrada */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  z-index: 1;
  flex-grow: 1;
  box-shadow: 0 0 10px rgba(253, 132, 18, 0.3), 0 0 20px rgba(254, 202, 0, 0.2),
    0 0 40px rgba(253, 132, 18, 0.1);
}

.contenedor-reglamento:hover {
  box-shadow: 0 0 15px rgba(253, 132, 18, 0.5), 0 0 30px rgba(254, 202, 0, 0.3),
    0 0 50px rgba(253, 132, 18, 0.2);
  transform: translateY(-5px); /* Leve elevación al hover */
}

/* Fondo oscuro interno y borde redondeado */
.contenedor-reglamento::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px; /* Bordes redondeados */
  z-index: -2;
  pointer-events: none;
}

/* Fondo con borde secundario */
.contenedor-reglamento::after {
  content: "";
  position: absolute;
  top: 2%;
  left: 2%;
  right: 2%;
  bottom: 2%;
  background: rgba(83, 82, 82, 0.4);
  border-radius: 10px; /* Bordes redondeados */
  z-index: -1;
  pointer-events: none;
}

/* Estilo del reglamento */
.reglamento {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  text-align: center;
}

.reglamento-titulo {
  margin-top: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  color: #feca00; /* Color dorado para destacar */
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8); /* Sombra para hacer el texto más visible */
  border-bottom: 2px solid #fd8412; /* Línea debajo del título */
  padding-bottom: 8px;
}

.reglas {
  width: 97%;
  text-align: left;
  padding: 16px;
  font-size: 17px;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 8px 0;
  border: 1px solid #fd8412;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.reglas:hover {
  background: rgba(255, 132, 18, 0.1); /* Resaltado suave */
  box-shadow: 0 5px 10px rgba(255, 132, 18, 0.3); /* Efecto de sombra */
}

.reglas p {
  margin: 0;
  width: 100%;
  text-align: left;
}

/* Efecto animado de aparición */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contenedor-general {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contenedor-servidor {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  height: 1620px;
  width: 98%;
  border: 2px solid #fd8412; /* Bordes visibles */
  border-radius: 10px;
  position: relative;
  margin: 20px auto;
  background: linear-gradient(145deg, #222, #333);
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.6s ease-out forwards;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  z-index: 1;
  box-shadow: 0 0 10px rgba(253, 132, 18, 0.3), 0 0 20px rgba(254, 202, 0, 0.2),
    0 0 40px rgba(253, 132, 18, 0.1);
}

.contenedor-servidor:hover {
  box-shadow: 0 0 15px rgba(253, 132, 18, 0.5), 0 0 30px rgba(254, 202, 0, 0.3),
    0 0 50px rgba(253, 132, 18, 0.2);
  transform: translateY(-5px);
}

/* Fondo oscuro interno y borde redondeado */
.contenedor-servidor::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 10px; /* Bordes redondeados */
  z-index: -2;
  pointer-events: none;
}

/* Fondo con borde secundario */
.contenedor-servidor::after {
  content: "";
  position: absolute;
  top: 2%;
  left: 2%;
  right: 2%;
  bottom: 2%;
  background: rgba(83, 82, 82, 0.4);
  border-radius: 10px; /* Bordes redondeados */
  z-index: -1;
  pointer-events: none;
}

/* Estilo para las imágenes */
.imagen-info {
  margin-bottom: 25px;
  width: 95%;
  height: 900px;
  border-radius: 10px; /* Bordes redondeados */
  object-fit: cover; /* Asegura que la imagen cubra el área */
  object-position: 10% 35%; /* Posición de la imagen dentro del contenedor */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Títulos */
.servidor-titulo {
  margin: 20px 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: #feca00;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 95%;
  border-bottom: 2px solid #fd8412;
  padding-bottom: 8px;
}

/* Texto dentro del contenedor */
.texto-servidor,
.texto-servidor1 {
  text-align: center;
  width: 95%;
  padding: 16px;
  margin: 8px 0;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  border: 1px solid #fd8412;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

.texto-servidor:hover,
.texto-servidor1:hover {
  background: rgba(255, 132, 18, 0.1); /* Resaltado suave */
  box-shadow: 0 5px 10px rgba(255, 132, 18, 0.3); /* Efecto de sombra */
}

/* Efecto animado de aparición */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contenedor-changelogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px;
  height: auto;
  max-width: 90%;
  width: 1500px;
  border: 2px solid #fd8412;
  border-radius: 10px;
  position: relative;
  margin: 20px auto;
  background: linear-gradient(145deg, #222, #333);
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.6s ease-out forwards;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  z-index: 1;

  /* Efecto neón suave */
  box-shadow: 0 0 10px rgba(253, 132, 18, 0.3), 0 0 20px rgba(254, 202, 0, 0.2),
    0 0 40px rgba(253, 132, 18, 0.1);
}

.contenedor-changelogs:hover {
  box-shadow: 0 0 15px rgba(253, 132, 18, 0.5), 0 0 30px rgba(254, 202, 0, 0.3),
    0 0 50px rgba(253, 132, 18, 0.2);
  transform: translateY(-5px); /* Leve elevación al hover */
}
.contenedor-texto-changelogs {
  display: flex;
  justify-content: center;
  text-align: center;
}

.contenedor-changelogs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  z-index: -2;
  pointer-events: none;
}

.contenedor-changelogs::after {
  content: "";
  position: absolute;
  top: 2%;
  left: 2%;
  right: 2%;
  bottom: 2%;
  background: rgba(83, 82, 82, 0.4);
  border-radius: 10px;
  z-index: -1;
  pointer-events: none;
}

/* Separadores internos entre secciones */
.separador {
  width: 85%;
  height: 2px;
  background: #fd8412; /* Línea visible */
  margin: 16px auto;
  border-radius: 2px;
}

/* Estilo para las imágenes */
.imagen-changelogs {
  margin-bottom: 25px;
  width: 950px;
  height: 500px;
  border-radius: 10px;
  border: 2px solid #fd8412; /* Agrega bordes a las imágenes */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  object-fit: cover;
}

.imagen-changelogs:hover {
  transform: scale(1.05); /* Efecto de zoom al pasar el cursor */
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3);
}

/* Título de los changelogs */
.changelogs-titulo {
  margin: 20px 0;
  font-size: 1.8rem;
  font-weight: bold;
  color: #feca00;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  text-align: center;
  width: 90%;
  border-bottom: 2px solid #fd8412;
  padding-bottom: 8px;
}

/* Texto interno */
.texto-changelogs {
  text-align: left;
  width: 90%;
  padding: 16px;
  margin: 16px 0;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #fd8412;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Efectos al pasar el cursor por los textos */
.texto-changelogs:hover {
  background: rgba(255, 132, 18, 0.1); /* Suavemente resaltado */
  box-shadow: 0 5px 10px rgba(255, 132, 18, 0.3);
}

/* Efecto animado de aparición */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contenedor-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px; /* Aumento del padding para mayor separación */
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  height: 385px;
  width: 940px;
  border: 2px solid #fd8412; /* Bordes visibles */
  border-radius: 10px; /* Bordes redondeados */
  position: relative;
  margin: 20px auto; /* Centrado y margen superior */
  background: linear-gradient(145deg, #222, #333); /* Fondo con degradado */
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.6s ease-out forwards; /* Animación de entrada */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  z-index: 1;
}

.contenedor-inicio:hover {
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3); /* Sombra al pasar el cursor */
  transform: translateY(-5px); /* Efecto de desplazamiento hacia arriba */
}

/* Fondo oscuro interno y borde redondeado */
.contenedor-inicio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px; /* Bordes redondeados */
  z-index: -2;
  pointer-events: none;
}

/* Fondo con borde secundario */
.contenedor-inicio::after {
  content: "";
  position: absolute;
  top: 2%;
  left: 2%;
  right: 2%;
  bottom: 2%;
  background: rgba(83, 82, 82, 0.4);
  border-radius: 10px; /* Bordes redondeados */
  z-index: -1;
  pointer-events: none;
}

.contenedor-iframe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 16px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  height: 1000px;
  max-width: 95%;
  width: 95%;
  border: 2px solid #fd8412;
  border-radius: 10px;
  position: relative;
  margin: 20px auto;
  background: linear-gradient(145deg, #222, #333);
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.6s ease-out forwards;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  z-index: 1;
  box-shadow: 0 0 10px rgba(253, 132, 18, 0.3), 0 0 20px rgba(254, 202, 0, 0.2),
    0 0 40px rgba(253, 132, 18, 0.1);
}

.contenedor-texto-iframe {
  display: flex;
  justify-content: center;
  text-align: center;
}

.contenedor-iframe:hover {
  box-shadow: 0 0 15px rgba(253, 132, 18, 0.5), 0 0 30px rgba(254, 202, 0, 0.3),
    0 0 50px rgba(253, 132, 18, 0.2);
  transform: translateY(-5px); /* Leve elevación al hover */
}

.contenedor-iframe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  z-index: -2;
  pointer-events: none;
}

.contenedor-iframe::after {
  content: "";
  position: absolute;
  top: 2%;
  left: 2%;
  right: 2%;
  bottom: 2%;
  background: rgba(83, 82, 82, 0.4);
  border-radius: 10px;
  z-index: -1;
  pointer-events: none;
}

/* Estilo para el iframe */
.frame-inicio {
  margin: 20px;
  width: 93%;
  height: 95%;
  border-radius: 30px; /* Bordes redondeados */
  transition: transform 1s ease, box-shadow 1s ease; /* Efectos al pasar el cursor */
}

.frame-inicio:hover {
  transform: scale(1.02); /* Efecto de zoom */
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3); /* Sombra al pasar el cursor */
}

/* Efecto animado de aparición */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.seccion-discord {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px;
  height: 500px;
  width: 800px;
  border-radius: 5%;
  position: relative;
  margin: 8px auto;
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.6s ease-out forwards;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  z-index: 1;
  box-shadow: 0 0 10px rgba(253, 132, 18, 0.3), 0 0 20px rgba(254, 202, 0, 0.2),
    0 0 40px rgba(253, 132, 18, 0.1);
}

.contenedor-discord {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.seccion-discord:hover {
  box-shadow: 0 0 15px rgba(253, 132, 18, 0.5), 0 0 30px rgba(254, 202, 0, 0.3),
    0 0 50px rgba(253, 132, 18, 0.2);
  transform: translateY(-5px); /* Leve elevación al hover */
}

.seccion-discord::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  z-index: -2;
  pointer-events: none;
}

.seccion-discord::after {
  content: "";
  position: absolute;
  top: 1%;
  left: 1%;
  right: 1%;
  bottom: 1%;
  background: rgba(83, 82, 82, 0.4);
  border-radius: 30px;
  z-index: -1;
  pointer-events: none;
}

.texto-seccion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilo del video */
.video-discord {
  border-radius: 20px;
  width: 400px;
  height: 380px;
  margin-bottom: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de hover en el video */
.video-discord:hover {
  transform: scale(1.05); /* Aumento del tamaño del video */
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5); /* Sombra más intensa */
}

/* Efecto animado de aparición */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.contenedor-estado {
  text-align: center;
  padding: 16px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  height: 575px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  position: relative;
  gap: 16px;
  margin-top: 8px;
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.6s ease-out forwards;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  z-index: 1;
  box-shadow: 0 0 10px rgba(253, 132, 18, 0.3), 0 0 20px rgba(254, 202, 0, 0.2),
    0 0 40px rgba(253, 132, 18, 0.1);
}

.contenedor-estado:hover {
  box-shadow: 0 0 15px rgba(253, 132, 18, 0.5), 0 0 30px rgba(254, 202, 0, 0.3),
    0 0 50px rgba(253, 132, 18, 0.2);
  transform: translateY(-5px); /* Leve elevación al hover */
}

.contenedor-estado::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  z-index: -2;
  pointer-events: none;
}

.contenedor-estado::after {
  content: "";
  position: absolute;
  top: 1%;
  left: 1%;
  right: 1%;
  bottom: 1%;
  background: rgba(83, 82, 82, 0.4);
  border-radius: 30px;
  z-index: -1;
  pointer-events: none;
}

.logito-estado {
  width: 500px;
  height: auto;
  border-radius: 20px;
  z-index: 1;
  position: relative;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contenedor-eventos {
  text-align: center;
  padding: 8px 8px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  height: 545px;
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  position: relative;
  gap: 8px;
  margin-top: 8px;
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.6s ease-out forwards;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  z-index: 1;
  box-shadow: 0 0 10px rgba(253, 132, 18, 0.3), 0 0 20px rgba(254, 202, 0, 0.2),
    0 0 40px rgba(253, 132, 18, 0.1);
}

.contenedor-eventos:hover {
  box-shadow: 0 0 15px rgba(253, 132, 18, 0.5), 0 0 30px rgba(254, 202, 0, 0.3),
    0 0 50px rgba(253, 132, 18, 0.2);
  transform: translateY(-5px); /* Leve elevación al hover */
}

.contenedor-eventos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  z-index: -2;
  pointer-events: none;
}

.contenedor-eventos::after {
  content: "";
  position: absolute;
  top: 1%;
  left: 1%;
  right: 1%;
  bottom: 1%;
  background: rgba(83, 82, 82, 0.4);
  border-radius: 30px;
  z-index: -1;
  pointer-events: none;
}

.imagen-evento {
  border-radius: 10px;
  margin-bottom: 8px;
}

.contenedor-temporada {
  text-align: center;
  padding: 8px 8px;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  height: 540px;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  position: relative;
  gap: 8px;
  margin-top: 8px;
  opacity: 0;
  transform: translateY(20px);
  animation: slideIn 0.6s ease-out forwards;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  z-index: 1;
  box-shadow: 0 0 10px rgba(253, 132, 18, 0.3), 0 0 20px rgba(254, 202, 0, 0.2),
    0 0 40px rgba(253, 132, 18, 0.1);
}

.contenedor-temporada:hover {
  box-shadow: 0 0 15px rgba(253, 132, 18, 0.5), 0 0 30px rgba(254, 202, 0, 0.3),
    0 0 50px rgba(253, 132, 18, 0.2);
  transform: translateY(-5px); /* Leve elevación al hover */
}

.contenedor-temporada::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  z-index: -2;
  pointer-events: none;
}

.contenedor-temporada::after {
  content: "";
  position: absolute;
  top: 1%;
  left: 1%;
  right: 1%;
  bottom: 1%;
  background: rgba(83, 82, 82, 0.4);
  border-radius: 30px;
  z-index: -1;
  pointer-events: none;
}

.imagen-temporada {
  width: 700px;
  object-fit: contain;
  border-radius: 20px;
}

.contenedor-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Contenedor de la barra de búsqueda */
.search-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 8px;
  border: 2px solid #fd8412;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(253, 132, 18, 0.3), 0 0 20px rgba(254, 202, 0, 0.2);
  background: #222;
  transition: box-shadow 0.3s ease;
}

.search-container:hover {
  box-shadow: 0 0 15px rgba(253, 132, 18, 0.5), 0 0 30px rgba(254, 202, 0.3);
}

/* Campo de entrada */
.search-input {
  flex: 1;
  padding: 8px 16px;
  font-size: 1rem;
  color: #feca00;
  background: transparent;
  border: none;
  outline: none;
  text-shadow: 0 0 5px rgba(254, 202, 0, 0.8);
}

/* Botón de búsqueda */
.search-button {
  padding: 8px 16px;
  font-size: 1rem;
  background: #fd8412;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.search-button:hover {
  background: #feca00;
  transform: scale(1.1);
}

/* Estilo para resultados resaltados */
.highlight {
  background-color: rgba(254, 202, 0, 0.6);
  color: #222;
  font-weight: bold;
  padding: 2px 4px;
  border-radius: 4px;
}

/* Estilo de la barra de búsqueda */
.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.search-input {
  width: 250px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  background-color: #fd8412;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #f96f02;
}

/* Resultados de búsqueda */
.search-results {
  margin-top: 10px;
  font-size: 14px;
  color: #feca00;
  font-weight: bold;
}
